.type {
    padding: 0.5vh 1.7vw;
    border-radius: 10px;

    font-size: 1.15vw;
    color: var(--color-white);

    background-color: var(--color-grey);
    //mudar ainda a logica de mudança de cor, usando variavel.
}